/* Global styles for the entire application */

@use './tokens/index';

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--font-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

* {
    box-sizing: border-box;
}