@use '../../styles/tokens/_index' as *;

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
